.vector-icon3 {
  position: absolute;
  height: 18.12%;
  width: 18.12%;
  top: 329.41%;
  right: 1146.58%;
  bottom: -247.54%;
  left: -1064.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div8 {
  position: relative;
  width: 100%;
  height: 17px;
  overflow: hidden;
}
