.desktop-1-child {
  position: absolute;
  top: -77px;
  left: -5px;
  background: linear-gradient(180deg, #3fcfe2, rgba(109, 158, 165, 0));
  width: 1449px;
  height: 465px;
}
.image-2-icon {
  position: absolute;
  top: 118px;
  left: 843px;
  border-radius: 194px;
  width: 390px;
  height: 390px;
  object-fit: cover;
}
.feel-better-about,
.finding-healthcare {
  position: absolute;
  left: 154px;
  font-size: 37.26px;
  font-weight: 600;
}
.feel-better-about {
  top: 118px;
  color: rgba(12, 34, 73, 0.83);
}
.finding-healthcare {
  top: 184px;
  color: var(--color-darkslategray);
}
.desktop-1-item {
  position: absolute;
  top: 39px;
  left: 1272px;
  border-radius: var(--br-5xs);
  width: 110px;
  height: 29px;
}
.log-in {
  position: absolute;
  top: 41px;
  left: 1303px;
  font-size: var(--font-size-base);
  color: #f5f5f5;
}
.desktop-1-inner {
  position: absolute;
  top: 39px;
  left: 1115px;
  border-radius: var(--br-5xs);
  width: 110px;
  height: 29px;
}
.sign-up {
  position: absolute;
  top: 40px;
  left: 1139px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.rectangle-div {
  position: absolute;
  top: 1742px;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(239, 243, 243, 0.58),
    rgba(26, 228, 228, 0.58) 0.01%,
    rgba(202, 234, 234, 0)
  );
  width: 1449px;
  height: 275px;
}
.p {
  margin: 0;
}
.more {
  position: absolute;
  top: 1753px;
  left: 925px;
  font-weight: 900;
}
.doctors-are-one {
  position: absolute;
  top: 268px;
  left: 154px;
  font-size: 10.28px;
  color: rgba(0, 0, 0, 0.59);
  display: inline-block;
  width: 397px;
}
.image-3-icon {
  position: absolute;
  top: 547px;
  left: 1016px;
  border-radius: 197.54px;
  width: 395.08px;
  height: 408px;
  object-fit: cover;
}
.desktop-1-child1 {
  position: absolute;
  top: 378px;
  left: 355px;
  border-radius: 7.71px;
  background-color: var(--color-lightseagreen);
  width: 132.33px;
  height: 35.97px;
}
.more-than-10,
.patient-ratings {
  position: absolute;
  top: 396px;
  left: 365px;
  font-size: 10.28px;
  font-weight: 600;
  color: var(--color-white);
}
.more-than-10 {
  top: 381px;
}
.desktop-1-child2 {
  position: absolute;
  top: 378px;
  left: 154px;
  border-radius: 7.71px;
  background-color: var(--color-lightseagreen);
  width: 132.33px;
  height: 35.97px;
}
.doctor-in-india,
.profiles-for-every {
  position: absolute;
  top: 381px;
  left: 172px;
  font-size: 10.28px;
  font-weight: 600;
  color: var(--color-white);
}
.doctor-in-india {
  top: 396px;
  left: 177px;
  display: inline-block;
  width: 76px;
  height: 11px;
}
.appointment,
.service {
  position: absolute;
  top: 39px;
  font-size: var(--font-size-5xl);
  font-weight: 800;
}
.service {
  left: 686px;
  color: var(--color-royalblue-100);
  display: inline-block;
  width: 112px;
  height: 19px;
  cursor: pointer;
}
.appointment {
  left: 854px;
  color: #1364d6;
}
.first {
  color: var(--color-black);
}
.health-first {
  position: absolute;
  top: 32px;
  left: 45px;
  display: inline-block;
  width: 283px;
  height: 58px;
  color: var(--color-darkorchid);
}
.star-icon {
  top: 33px;
  left: 258px;
  width: 66px;
  height: 50px;
}
.home,
.icon,
.star-icon {
  position: absolute;
}
.home {
  top: 39px;
  left: 503px;
  font-size: var(--font-size-5xl);
  font-weight: 800;
  color: var(--color-royalblue-100);
  display: inline-block;
  width: 132px;
  height: 19px;
  cursor: pointer;
}
.icon {
  top: 547px;
  left: 129px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.search-doctor {
  left: 189px;
  font-size: var(--font-size-xl);
  display: inline-block;
  color: var(--color-gray-200);
  width: 182px;
}
.icon1,
.search-doctor,
.set-location {
  position: absolute;
  top: 547px;
}
.set-location {
  left: 563px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
}
.icon1 {
  left: 523px;
  width: 25px;
  height: 23.96px;
  overflow: hidden;
}
.desktop-1-child3 {
  position: absolute;
  top: 544px;
  left: 805px;
  border-radius: 15px;
  background-color: var(--color-darkorchid);
  width: 59px;
  height: 37px;
}
.icon2 {
  position: absolute;
  top: 551px;
  left: 824px;
  width: 22px;
  height: 22px;
  overflow: hidden;
  cursor: pointer;
}
.find-the-best {
  position: absolute;
  top: 678px;
  left: 795px;
  color: var(--color-darkslategray);
  display: inline-block;
  width: 221px;
  height: 185px;
}
.vector-icon,
.vector-icon1 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon {
  height: 1.08%;
  width: 1.53%;
  top: 38.89%;
  right: 36.32%;
  bottom: 60.03%;
  left: 62.15%;
  cursor: pointer;
}
.vector-icon1 {
  height: 0.37%;
  width: 0.52%;
  top: 39.82%;
  right: 35.94%;
  bottom: 59.81%;
  left: 63.54%;
}
.desktop-1-child4 {
  position: absolute;
  top: 683px;
  left: -3px;
  background: linear-gradient(
    180deg,
    rgba(108, 223, 223, 0.59),
    rgba(232, 244, 244, 0.59)
  );
  width: 629px;
  height: 266px;
}
.find-the-right,
.right-at-your {
  position: absolute;
  top: 709px;
  left: 34px;
  font-weight: 600;
  color: var(--color-gray-100);
}
.right-at-your {
  top: 767px;
}
.search-nearest-hospital {
  position: absolute;
  top: 829px;
  left: 93px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  font-weight: 600;
}
.icon3 {
  position: absolute;
  top: 829px;
  left: 50px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.we-are-here {
  margin-bottom: 0;
}
.we-are-here-to-hear-and-heal-y {
  margin: 0;
  padding-left: 17px;
}
.we-are-here-container {
  position: absolute;
  top: 869px;
  left: 75px;
  font-size: var(--font-inherit);
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: var(--font-inherit);
  color: rgba(0, 0, 0, 0.41);
}
.image-6-icon {
  position: absolute;
  top: 984px;
  left: 981px;
  width: 530px;
  height: 346px;
  object-fit: cover;
}
.why-you-choose {
  position: absolute;
  bottom: 951px;
  left: 550px;
  font-weight: 900;
  color: #090a0a;
  display: inline-block;
  width: 351px;
  height: 101px;
}
.f-320523164-tx7rdd7i2xdtvvkfz2-icon {
  position: absolute;
  top: 994px;
  left: 142px;
  width: 250.4px;
  height: 313px;
  object-fit: cover;
}
.at-your-quick-service-healing {
  margin: 0;
  padding-left: 13px;
}
.at-your-quick-container {
  position: absolute;
  top: 1079px;
  left: 547px;
  font-size: var(--font-inherit);
  font-weight: 900;
  font-family: var(--font-inherit);
  color: rgba(0, 0, 0, 0.64);
}
.desktop-1-child5 {
  position: absolute;
  top: 1271px;
  left: 579px;
  border-radius: 9px;
  background-color: #63dede;
  width: 94px;
  height: 22px;
}
.get-free {
  position: absolute;
  top: 1274px;
  left: 602px;
  font-size: 11.15px;
  font-weight: 600;
  color: #1f2022;
  cursor: pointer;
}
.desktop-1-child6 {
  position: absolute;
  top: 1425px;
  left: 960px;
  background-color: rgba(231, 124, 240, 0.73);
  width: 480px;
  height: 66px;
}
.our-patients-feedback {
  position: absolute;
  top: 1375px;
  left: 1016px;
  font-size: var(--font-size-lg);
  font-weight: 900;
  display: inline-block;
  width: 310px;
  height: 35px;
}
.desktop-1-child7 {
  position: absolute;
  top: 1352px;
  left: -4px;
  background-color: rgba(213, 29, 229, 0.58);
  width: 447px;
  height: 73px;
}
.meet-our-specialist {
  position: absolute;
  top: 1361px;
  left: 50px;
  font-weight: 900;
}
.rectangle-icon {
  position: absolute;
  top: 1464px;
  left: 63px;
  border-radius: 4px;
  width: 189px;
  height: 179px;
  object-fit: cover;
}
.dr-pranay-pardesi-container {
  position: absolute;
  top: 1490px;
  left: 298px;
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.image-4-icon {
  position: absolute;
  top: 1447px;
  left: 829px;
  width: 212.56px;
  height: 179px;
  object-fit: cover;
}
.manoj-kumar {
  position: absolute;
  top: 1655px;
  left: 885px;
  font-size: var(--font-size-base);
}
.an-amazing-service,
.testimonial-paragraph {
  position: absolute;
  top: 1470px;
  left: 1084px;
  font-size: var(--font-size-5xl);
  line-height: 30px;
  font-family: var(--font-dm-sans);
}
.testimonial-paragraph {
  top: 1524px;
  font-size: var(--font-size-lg);
  color: #100505;
  display: inline-block;
  width: 308px;
}
.contact-us,
.div {
  position: absolute;
  font-weight: 900;
}
.contact-us {
  top: 1753px;
  left: 42px;
  display: inline-block;
  width: 196px;
  height: 56px;
}
.div {
  top: 1761px;
  left: 9px;
}
.for-patients-search-container,
.nsgmailcom {
  position: absolute;
  top: 1826px;
  font-weight: 900;
}
.nsgmailcom {
  left: 33px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}
.for-patients-search-container {
  left: 435px;
  font-size: var(--font-size-base);
}
.ul {
  margin: 0;
  padding-left: var(--padding-8xl);
}
.div1,
.our-services {
  position: absolute;
  font-weight: 900;
}
.div1 {
  top: 1876px;
  left: 33px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}
.our-services {
  top: 1753px;
  left: 428px;
  display: inline-block;
  width: 363px;
  cursor: pointer;
}
.div2 {
  top: 1761px;
  left: 392px;
}
.div2,
.div3,
.socials {
  position: absolute;
  font-weight: 900;
}
.div3 {
  top: 1923px;
  left: 33px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}
.socials {
  top: 1753px;
  left: 1286px;
}
.help-developers-privacy-container,
.social-facebook-twitter-container {
  position: absolute;
  top: 1826px;
  left: 925px;
  font-size: var(--font-size-base);
  font-weight: 900;
}
.social-facebook-twitter-container {
  left: 1303px;
}
.div4,
.div5 {
  position: absolute;
  top: 1761px;
  left: 876px;
  font-weight: 900;
}
.div5 {
  left: 1260px;
  display: inline-block;
  width: 86px;
  height: 88px;
}
.frame-div {
  position: absolute;
  top: 36px;
  left: 217px;
  width: 25px;
  height: 3px;
  overflow: hidden;
}
.desktop-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2034px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
